.font {
	font-family: 'Syne Mono', monospace;
}
.btn-c {
	border-color: #ced4da;
}
.n-color {
	color:black;
}
.n-color:hover {
	color:black;
}
.j-width {
	width:50%;
}
.img-1 {
	height:400px;
	width:100%;
}
.pagination-height {
	margin-top:20px;
}






.b {
	background-color:#DEE2E6;
	padding:140px;
}
.box {
	height:500px;
	width:450px;
	background-color:white;
	margin:auto;
	border-radius:150px 0  150px 0;
    box-shadow: 5px 10px 10px #888888;
    transition:2s;
	overflow:hidden;
}
.box:hover {
  box-shadow: 10px 15px 10px black;
  transition:2s;
  border-radius:0 150px 0 150px ;
}
h2 {
	font-weight:bold;
	color:#10ABE3;
	text-transform:uppercase;
	margin-top:70px;
}
.text {
	background-color:white;
	margin-top:50px;
	padding:25px 0;
	padding-left:10px;
	text-transform:uppercase;
	font-size:15px;
	border:none;
	border-bottom:1px solid black;
	border-radius:0;
}
.text:focus,
.pass:focus,
.sub:focus {
	border-color:#10ABE3;
}
.pass {
	background-color:white;
	margin-top:20px;
	padding:25px 0;
	padding-left:10px;
	text-transform:uppercase;
	font-size:15px;
	border:none;
	border-bottom:1px solid black;
	border-radius:0;
}
.sub {
	background-color:#10ABE3;
	padding-bottom:35px;
	font-size:20px;
	color:white;
	margin:30px 0;
	border-radius:25px;
}
p {
	color:#999999;
}
.b .box a {
	color:#10ABE3;
	margin-bottom:50px;
}
.b .box a:hover {
	color:#10ABE3;
}























