body {
	font-family:lato;
}
p {
	color:#848789;
	line-height:1.8em;
	font-size:18px;
}




/************** header area ************************/
.header {
	background-image: url('images/Bicycle_Theme.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	padding-bottom:674px;
	text-transform:uppercase;
	padding-top:50px;
}
.header ul li a {
	color:#4D4959;
	font-weight:bold;
	letter-spacing:.1em;
	margin:0 14px;
	font-size:13px;
	border-bottom:1px solid transparent;
	transition:.7s;
}
.header ul li a:hover {
	color:#64C29E;
	border-bottom:1px solid #64C29E;
}
.header ul li a img {
	margin-top:-34px;
}
.header ul .notice a:hover,
.header ul .notice a {
	border-bottom:none;
}


/************** header area ends ************************/




/************** generation area starts ************************/
.generation {
	background-color:#F7F7F7;
	padding:100px 0;
}
.generation h5 {
	margin:20px;
	letter-spacing:.2em;
	font-weight:bold;
}


/************** generation area ends ************************/


/************** bike area starts ************************/
.amaze .col-md-8,
.amaze .col-md-4,
.amaze .col-md-12 {
	padding:0;
}
.b .container {
	padding:37px 94px;
	text-align:center;
}
.b h5 {
	padding:10px 0;
}
a {
	position:relative;
}
.b-company {
	position:absolute;
	top:36%;
	left:40%;
}
.bb-company {
	position:absolute;
	top:36%;
	left:26%;
}




















/************** bike area ends ************************/


/************** carousel area starts ************************/
.cc {
	background-color:#F7F7F7;
	padding:150px 0;
	text-align:center;
}
.cc img {
	margin:10px 0;
}
.carousel-indicators li {
	height:8px;
	width:8px;
	border-radius: 50%;
	border:1px solid #A9AFB3;
	margin:80px 5px;
}
.carousel-indicators .active {
	background-color:#A9AFB3;
}




/************** carousel area ends ************************/



/************** discover area starts ************************/

.discover {
	padding:80px 0;
	background-color:#282F35;
	text-align:center;
}
.discover .btn-custom {
	border:1px solid white;
	padding:15px 50px;
	color:white;
	letter-spacing:.1em;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	border-radius:0px;
}
.discover .btn-custom:hover {
	border:1px solid #64C29E;
	color:#64C29E;
	
}


/************** discover area ends ************************/
/************** img area startss ************************/

.row {
	margin:0;
}
.f-hover {
	position:absolute;
	top:40%;
	left:36%;
	text-align:center;
	color:white;
	background-size:100% 100%;
	display:none;
}
.f-bg:hover .f-hover {
	display:block;
}
.bg-h {
	position:absolute;
	background-color:rgba(100, 194, 158, .7);
	background-size:100% 100%;
}
.w {
	width:100%;
	height:100%;
}
.img .col-md-6,
.img .col-md-4,
.img .col-md-12 {
	padding:0;
}

.f-bg {
	position:relative;
}








/************** img area ends ************************/


/************** email area starts ************************/

.email-sec {
	padding:100px 0;
	text-align:center;
}
.email-sec .email-c {
	margin:auto;
}
.email-sec h5 {
	padding:20px 0;
}
.e-form .custom {
	padding: 20px 0;
	padding-left:10px;
	width:25%;
	border:1px solid #D3D7D9;
}
.e-form button[type="submit"] {
	background-color:#64C29E;
	border:1px solid transparent;
	color:white;
	padding:20px 25px;
	transition:.7s;
}
.e-form button[type="submit"]:hover {
	color:#64C29E;
	background-color:white;
	border:1px solid #64C29E;
}


/************** email area ends ************************/
/************** footer area starts ************************/
footer {
	background-color:#F7F7F7;
	padding:100px 0;
}
.mm {
	padding:20px 0;
}
footer p {
	font-size:14px;
}
.yobo {
	margin-left:5px;
}
.m {
	margin:0 5px;
}








